.shoping {
  position: relative;
}
#cart-count {
  position: absolute;
  top: -11px;
  left: 10px;
  background-color: #ff9900;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 14px;
  margin-left: 5px;
  color: white;
}

/* Shopping Cart */
#shopping-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 10px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart-header .c-close-btn {
  cursor: pointer;
  background-color: #ff9900;
  border: none;
  padding: 8px 10px 8px 10px;
  font-size: 15px;
}
#cart-items {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  margin-right: 10px;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.cart-item-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.remove-item {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.remove-item i {
  pointer-events: none;
}

.cart-item-details {
  flex: 1;
  margin-right: 10px;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.cart-item-details .price-quantity {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.cart-item-details p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.remove-item {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 18px;
}

.remove-item i {
  pointer-events: none;
}
.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px 20px 10px 20px;
}

.cart-footer #checkout-btn {
  padding: 8px 10px 8px 10px;
  background-color: #ff9900;
  border:none;
  border-radius: 5px;
}
